# LIst

In [1]:
ls1=["Sumit",10,'a',50,[2,1,3]]
ls1

['Sumit', 10, 'a', 50, [2, 1, 3]]

In [3]:
ls1.count('a')

1

In [4]:
ls1[0]

'Sumit'

In [5]:
ls1[1:-2]

[10, 'a']

In [6]:
ls1.pop()

[2, 1, 3]

In [8]:
ls1

['Sumit', 10, 'a', 50]

In [9]:
len(ls1)

4

ls2=ls1.copy()

In [16]:
ls2

['Sumit', 10, 'a', 50]

In [17]:
ls3=[1,2,3]

In [18]:
ls1.extend(ls3)

In [19]:
ls1

['Sumit', 10, 'a', 50, 1, 2, 3]

In [22]:
ls3.sort()

In [24]:
ls4=[10,30,20,4,200,50]
ls4

[10, 30, 20, 4, 200, 50]

In [25]:
ls4.sort()

In [26]:
ls4

[4, 10, 20, 30, 50, 200]

In [27]:
ls4.reverse()
ls4

[200, 50, 30, 20, 10, 4]

In [28]:
ls4.remove(30)
ls4

[200, 50, 20, 10, 4]

# Dictionary

In [29]:
dict1 = {'Name': 'Sumit', 'Age': 34, 'Salary':50000}
dict1

{'Name': 'Sumit', 'Age': 34, 'Salary': 50000}

In [30]:
dict1.get("Age")

34

In [31]:
dict1.items()

dict_items([('Name', 'Sumit'), ('Age', 34), ('Salary', 50000)])

In [32]:
dict1.keys()

dict_keys(['Name', 'Age', 'Salary'])

In [33]:
dict1.values()

dict_values(['Sumit', 34, 50000])

In [35]:
dict2=dict1.copy()
dict2

{'Name': 'Sumit', 'Age': 34, 'Salary': 50000}

In [36]:
dict2.clear()

In [37]:
dict2

{}

# sets

In [38]:
Months={"Jan","Feb","Mar","Apr","Jan","Mar"}
Months

{'Apr', 'Feb', 'Jan', 'Mar'}

In [41]:
Months.add("Dec")

In [42]:
Months

{'Apr', 'Dec', 'Feb', 'Jan', 'Mar', 'Sun'}

In [44]:
Months.discard("Sun")
Months

{'Apr', 'Dec', 'Feb', 'Jan', 'Mar'}

In [45]:
Months2={"Apr","May","Jun"}
Months2

{'Apr', 'Jun', 'May'}

In [46]:
M3=Months&Months2
M3

{'Apr'}

In [47]:
M4=Months|Months2
M4

{'Apr', 'Dec', 'Feb', 'Jan', 'Jun', 'Mar', 'May'}

In [48]:
M5=Months-Months2
M5

{'Dec', 'Feb', 'Jan', 'Mar'}

# Tuples

In [49]:
tup1 = ('amit', 'sumit', 'gopal', 'sonu');
tup1

('amit', 'sumit', 'gopal', 'sonu')

In [51]:
tup1[1]

'sumit'

In [53]:
tup1[1:3]

('sumit', 'gopal')

In [55]:
tup1[1:-2]

('sumit',)

In [58]:
tup1.count("gopal")

1

In [59]:
tup1.index("sonu")

3

In [60]:
len(tup1)

4

In [61]:
max(tup1)

'sumit'

In [62]:
min(tup1)

'amit'

# Strings

In [63]:
str1 = 'Hello World'
str1

'Hello World'

In [64]:
str1.capitalize()

'Hello world'

In [65]:
str1.isdigit()

False

In [66]:
str1.islower()

False

In [67]:
str1.isnumeric()

False

In [68]:
len(str1)

11

In [69]:
str1.count('o')

2

In [72]:
str1.find("orl")

7